In [1]:
import os
import sys
from datetime import datetime

import pandas as pd

root = os.path.abspath('../')
if root not in sys.path:
    sys.path.append(root)
    
from model.data import load_pic, get_patient_records
from model.featurization import generate_cutoff_times

In [2]:
es = load_pic(verbose=False)

In [3]:
cutoff_times = generate_cutoff_times(es)

In [7]:
get_patient_records(es, 'SURGERY_VITAL_SIGNS', 3718, cutoff_times=cutoff_times)

         ITEM_NO        MONITOR_TIME ITEMID  VALUE
1695378        1 2067-05-10 18:25:00    SV1  151.0
1695379        1 2067-05-10 18:25:00    SV2  151.0
1695380        1 2067-05-10 18:25:00   SV17   98.0
1695390        2 2067-05-10 18:30:00    SV1  137.0
1695391        2 2067-05-10 18:30:00    SV2  139.0
...          ...                 ...    ...    ...
1695688       32 2067-05-10 20:55:00    SV4   41.0
1695689       32 2067-05-10 20:55:00    SV6    6.0
1695690       32 2067-05-10 20:55:00   SV13   26.0
1695691       32 2067-05-10 20:55:00   SV16   35.0
1695692       32 2067-05-10 20:55:00    SV5   62.0

[315 rows x 4 columns]

In [8]:
get_patient_records(es, 'INPUTEVENTS', 3718, cutoff_times=cutoff_times)

               CHARTTIME  AMOUNT AMOUNTUOM           STORETIME
2317 2065-11-02 07:27:18   413.0        ml 2065-11-02 07:27:18
2279 2065-11-03 07:29:56   398.0        ml 2065-11-03 07:29:56
1907 2065-11-04 07:48:34   426.0        ml 2065-11-04 07:48:34
2036 2065-11-09 07:05:09   420.0        ml 2065-11-09 07:05:09
2146 2065-11-24 06:28:46   420.0        ml 2065-11-24 06:28:46

In [9]:
get_patient_records(es, 'SURGERY_INFO', 3718, cutoff_times=cutoff_times)

,ANES_START_TIME,ANES_END_TIME,SURGERY_BEGIN_TIME,SURGERY_END_TIME,SURGERY_NAME,ANES_METHOD,SURGERY_POSITION,Height,Weight,Preoperative oxygen saturation (%),...,Surgical time (minutes),CPB time (minutes),Aortic cross-clamping time (times),complication,lung complication,cardiac complication,arrhythmia complication,infectious complication,other complication,Age
429001,2067-05-10 18:30:00,2067-05-10 21:08:00,2067-05-10 19:11:00,2067-05-10 20:55:00,ASD repair,general anesthesia with endotracheal intubatio...,supine position,80.0,9.2,100.0,...,102,49.0,29.0,0,0,0,0,0,0,20

In [10]:
get_patient_records(es, 'ADMISSIONS', 3718, cutoff_times=cutoff_times)

,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_DEPARTMENT,DISCHARGE_DEPARTMENT,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,ICD10_CODE_CN,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
103784,2065-10-15 16:30:55,2065-11-25 12:25:00,NaT,NICU,NICU,Medical Insurance,CHN,Not specified,Single,Han ethnic,2065-10-15 16:30:55,2065-11-25 12:25:00,早产不伴分娩,O60.000,0,1
106703,2067-05-07 15:42:22,2067-05-17 09:29:00,NaT,Cardiac surgery department,Cardiac surgery department,Medical Insurance,CHN,Not specified,Single,Han ethnic,2067-05-07 15:42:22,2067-05-17 09:29:00,房间隔缺损,Q21.100,0,1